.wrapperExe {
    /* border: 1px solid black; */
}

.popUpWindow1 {
    width: 20rem;
    height: 13rem;
    border-radius: 1.3rem;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.layer, .layer2{
    width: 10rem;
    height: 10rem;
    border-radius: 1.3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;

}

.layer2, .prop, .popUp2, .popUp3, .popUp4, .popUp5, .popUp6, .popUp7, .popUp8{
    width: 15rem;
    border-radius: 1.3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}
.popUp7{
    height: 20rem;
    width: 20rem;
}
.trends  {
    width: 15rem;
    border-radius: 1.3rem;
}

.distance, .distance1,.distance2 ,.distance3 {
    width: 25rem;
    border-radius: 1.3rem;
}
.distance2, .distance3{
    width: 20rem;
}

.distance4, .distance5, .distance6 {
    width: 2.5rem;
    border-radius:100%;
    margin-top: 10px;
}

.tools {
    margin-top: 10px;
    /* display: flex; */
    margin-left: 15px;
    /* align-items: start; */
    /* align-content: start; */
    /* justify-content: start; */
}

.tools > ul > li  {
    display: flex;
    flex-direction: row;
}

.tools > ul > li > p {
    margin-top: 20px;
    margin-left: 10px;
    /* border: 1px solid black; */
}



.popUpUl {
    text-align: start;
}

.wrapperExe6 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
li {
    list-style-type: none;
   }

   .answers {
    display: flex;
    align-items: center;
    flex-direction: column;
   }

.correctAnswer {
    font-size: 2rem;
    margin-top: 30px;
}