.bodyCardExamples2_9 {
    /* border: 1px solid black;
    width: 100%;
    height: 25rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-left: 2rem; */
}

.innerBodyCardExamples2_9 {
    /* border: 1px solid black; */
    text-align: center;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: flex-end; */
    /* margin-left: 30px; */
    width: 49%;
    
}
.bodyCardExamples2_9 {
    margin-top: 10px;
}

.innerBodyCardExamples2_9 img {
    width: 90%;
    height: 15rem;
    border-radius: 1rem;
}

.newHolland {
    margin-top: 8px;
}

.map {
    width: 500px;
}
.newHolland {
    width: 30rem;
    height: 18rem;
}