.lvl {
    margin-top: 2rem;
    /* border: 1px solid black; */

    
}

h3{
    text-align: center;
}
.innerContainer{
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 30%;
    justify-content: space-around;
}