.card {
    background: rgba(22, 78, 210, 0);
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

iframe {
    width: 98%;
    min-height: 33rem;
}
.frame {
    width: 100%;
    display: flex;
    justify-content: center;

}

.exercise {
    min-height: 35rem;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    justify-content: space-around;
}

.btnWrapper {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.iframeBtn {
    width: 75rem;
    height: 100px;
}